/* Início do CSS */
* {
    font-family: Arial, Helvetica, sans-serif;
}
/* Fundo */
body {
    height: 100%;
    background-color: #33535f;
    margin: 0;
    padding: 0;
}
/* Cabeçalho */
header {
    position: relative;
    text-align: center;
    padding: 20px 0;
}
header h1 {
    margin: 0;
    color: rgb(115, 221, 129);
    text-align: center;
}
header nav {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%)
}
nav {
    display: flex;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav ul li {
    float: left;
}
nav ul li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: #2b4650;
    color: rgb(22, 173, 42);
    font-weight: bold;
}
/* Seletor de pseudo-class -- hover */
nav ul li a:hover {
    background-color: #3a5f6d;
    transition: 0.5s;
}
section {
    margin: 3em;
}
/* Parte de Introdução */
#introducao h2 {
    color: rgb(6, 128, 26);
    font-weight: bold;
    text-align: center;
}
#introducao h2 ~ p {
    text-align: center;
    color: white;
}
#introducao > p:first-of-type {
    text-align: center;
    color: #222725;
}
#introducao img {
    width: 500px;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
}
#introducao figcaption {
    text-align: center;
    color: #B7B7B7;
}
/* Parte de Desenvolvimento */
#desenvolvimento {
    text-align: center;
}
#desenvolvimento h2 {
    color: rgb(6, 128, 26);
    font-weight: bold;
    text-align: center;
}
#desenvolvimento h2 ~ p {
    max-width: 1200px;
    margin: 0 auto;
    color: white;
}
#desenvolvimento h2 + p {
    max-width: 1200px;
    margin: 0 auto;
    color: #222725;
}
#desenvolvimento img {
    width: 500px;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
}
#desenvolvimento figcaption {
    text-align: center;
    color: #B7B7B7;
}
/* Parte de Conclusão */
#conclusao {
    display: block;
    width: 50%;
}
#conclusao h2 {
    color: rgb(6, 128, 26);
    font-weight: bold;
    text-align: center;
}
#conclusao > p:first-of-type {
    text-align: center;
    color: #222725;
}
#conclusao h2 ~ p {
    text-align: center;
    color: white;
}
#conclusao img {
    width: 500px;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
}
#conclusao figcaption {
    text-align: center;
    color: #B7B7B7;
}
#finalizacao {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    align-items: center;
}
/* Parte do Aside */
.topicos-extras {
    display: block;
    width: 50%;
    text-align: left;
}
.topicos-extras h2 {
    margin-bottom: 15px;
    text-align: center;
}
.topicos-extras p {
    margin: 6px 0;
    font-size: 16px;
    display: block;
    color:rgb(204, 99, 204);
    background-color: #2b4650;
    padding: 10px;
    border-radius: 4px;
}
.topicos-extras p:hover {
    background-color: #3a5f6d;
    transition: 0.5s;
}
/* Parte do Footer */
footer {
    background-color: #21353d;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px
}
.redes-sociais p {
    font-size: 16px;
    font-weight: bold;
    color: white;
    margin-left: 45px;
}
.redes-sociais a {
    text-decoration: none;
    color: violet;
}